.nt-container {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
    padding: 0 1rem 2rem 1rem;
    font-family: 'Inter', sans-serif;
}
/* --- GLOBAL BROWSER RESET & CONTAINER --- */
html, body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    overflow-x: hidden; 
}

.nt-container {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
    padding: 0 1rem 2rem 1rem;
    font-family: 'Inter', sans-serif;
}

/* --- NAVBAR STYLES --- */
.nt-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 2rem auto; 
    padding-top: 0.8rem; 
    width: 100%;
}

.nt-logo {
    color: #FAEF5D; 
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 2.2rem;
}